{
    "presets": [
        ["@babel/preset-env",{
            "targets": {
                "chrome": "30" 
            }
        }]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 3,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ]
    ]
}